<!doctype html>
<meta charset="utf-8">
<meta name="author" content="Ruben Verdoes">
<title><%= h img.name %></title>
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans:400,700">
<link rel="stylesheet" type="text/css" href="/assets/semantic.min.css">
<link rel="stylesheet" type="text/css" href="/styles/image">

<main>
    <header>
        <div class="ui inverted menu">
            <div class="header item">
                <%= h img.name %>
            </div>
            <div class="right menu">
                <a class="item" href=".">
                    <i class="level up icon"></i> Back
                </a>            
                <% if session[:admin] && img.deletable? %>
                <a class="item" data-action="delete">
                    <i class="trash icon"></i> Delete
                </a>
            <% end %>
            </div>
            <div class="ui right floated buttons">

            </div>
        </div>
    </header>

    <div id="container">
        <img src="<%= u img.name %>" alt="<%= h img.name %>">
    </div>
</main>

<script src="/assets/jquery-2.1.1.min.js"></script>
<script src="/assets/semantic.min.js"></script>
<script src="/assets/image.js"></script>
