<!doctype html>
<meta charset="utf-8">
<meta name="author" content="Ruben Verdoes">

<title>Images<%= " in #{ @name }" if @name %></title>
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">
<link rel="stylesheet" type="text/css" href="/assets/css/semantic.min.css">
<link rel="stylesheet" type="text/css" href="/assets/style">

<%= yield %>
<script src="/assets/javascript/jquery-2.1.1.min.js"></script>
<script src="/assets/javascript/semantic.min.js"></script>
<script src="/assets/javascript/imdex.js"></script>