.ui.image
    background-color: transparent

.inverted .ui.breadcrumb .divider
    color: rgba(255, 255, 255, 0.3)

.sub.menu .active.item
    font-weight: 700
    
.ui.medium.image img
    max-height: 300px * 9 / 16

.ui.menu button.item
    border: none

.ui.menu button.item:hover
    background: rgba(0,0,0,.03)
    color: rgba(0,0,0,.8)

.ui.inverted.menu button.item:hover
    background: rgba(255,255,255,.1)
    color: #fff