.ui.image
    background-color: transparent

.inverted .ui.breadcrumb .divider
    color: rgba(255, 255, 255, 0.3)

.sub.menu .active.item
    font-weight: 700
    
.ui.medium.image img
    max-height: 300px * 9 / 16