$page-font-family:	"Open Sans", "Segoe UI", sans-serif
$page-text-color:   #fefefe

html
    background: #222 url("/assets/images/darknoise.png") fixed repeat
    color: $page-text-color
    font-family: $page-font-family
    font-size: 100%
    height: 100%

body
    margin: auto
    max-width: 80%
    min-height: 100%

main
    display: block
    margin: 0 auto 1em auto

#container
    img
        display: block
        max-width: 100%
        max-height: 100%
        margin: auto
